.mainText {
  padding-bottom: 2rem;
}

.chapterHeaderClass {
  width: 20%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.chapterContentClass {
  white-space: pre-line;
  line-height: 170%;
}

.navigate {
  font-size: 1.2rem;
}

.toRight {
  float: right;
}
