<<<<<<< HEAD
.mainText {
  padding-bottom: 2rem;
}

=======
>>>>>>> 29bd542214d7c5fca96a57f99db124357f00538d
.chapterHeaderClass {
  width: 20%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.chapterContentClass {
  white-space: pre-line;
<<<<<<< HEAD
  line-height: 170%;
}

.navigate {
  font-size: 1.2rem;
}

.textRight {
  text-align: right;
=======
>>>>>>> 29bd542214d7c5fca96a57f99db124357f00538d
}
