.App {
<<<<<<< HEAD
  width: 50%;
  margin: 0 auto;
  padding: 1rem 2.5rem 2rem 2.5rem;
  background-color: white;
=======
  width: 55%;
  margin: 0 auto;
  padding: 1rem 1rem;
  background-color: rgb(245, 245, 245);
>>>>>>> 29bd542214d7c5fca96a57f99db124357f00538d
}

.header {
  /* width: 100%; */
  padding: 0 10%;
  background-color: rgba(20, 160, 255, 0.35);
}

.background {
  min-height: 976px;
  background-color: rgb(230, 230, 230);
}
